.pics{
    margin: 6px;
    width: 100%;
}

.pics img{
    margin: 2px;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    width: 96%;
    margin: auto;
}
.card{
    height: auto;
    width: auto;
    margin: 6px;
    background-color: #808080d0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.nav {
    color: white;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 5px;
}
